{% extends "generic/base_generic.html" %}

{% block content %}
    <h1>League Standing</h1>
    {% if leaguestandings_list %}
        <div class="list-group">
            {% for standing in leaguestandings_list %}
                <a href="{{ game.user_game_url }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ standing.user_name }}</h5>
                    </div>
                    <p class="mb-1">{{ standing.score }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Oops. There are no leagues active now.</p>
    {% endif %}
{% endblock %}
