{% extends "generic/base_generic.html" %}

{% block content %}
    <h1>Leagues</h1>
    {% if league_list %}
        <div class="list-group">

            {% for league in league_list %}
                <a href="{{ league.get_standings_url }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ league.name }}</h5>
                    </div>
                </a>

            {% endfor %}
        </div>
    {% else %}
        <p>Oops. There are no leagues available now.</p>
    {% endif %}

    <hr class="mb-16">

    <div>
        {% if request.GET.is_active != 'false' %}
            <a href="{% url 'leagues' %}?is_active=false" class="lead">View Old Leagues</a>
        {%  else %}
            <a href="{% url 'leagues' %}" class="lead">View Active Leagues</a>
        {% endif %}
    </div>
{% endblock %}
