body {
    background: #A8D0E6;
}


.main{
    transition: margin-left .5s;
    margin-left: 200px;
    padding: 0px 10px;
}

.center {
    margin: 0 auto;
    width: 80%;
}

/* SIDEBAR START */

.sidebar {
    height:100%;
    width:200px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: hidden;
    padding-top:20px;
    transition: 0.5s;
}

.sidebar a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:20px;
    color: #818181;
    display:block;
}

.sidebar a:hover{
    color:#f1f1f1;
}

/* The button used to open the sidebar */
.open-button {
    font-size: 25px;
    cursor: pointer;
    background-color: #A8D0E6;
    color: black;
    padding: 10px 15px;
    border: none;
}

.open-button:hover {
    color: grey;
}

@media screen and (max-width: 600px) {
    /* Making the sidebar hidden by default for mobiles */
    .sidebar {padding-top: 15px;width: 0}
    .sidebar a {font-size: 18px;}
    .main {margin-left: 0}
}

/* SIDEBAR END */


/*LIST GROUP START*/

.list-group a {
    color: white;
    background-color: #374785;
}

.list-group a:hover {
    color: #818181;
    background-color: #24305E;
}

.list-group a.list-group-item.game-option {
    background-color: #e6dda8;
    color: #111111;
}

.list-group a.list-group-item.game-option.is-done {
    /*background-color: #00a923;*/
    background-color: #036e1c;
    color: #111111;
    /*color: white;*/
    pointer-events: none;

}

.list-group a.list-group-item.game-option.not_done {
    background-color: #737573;
    color: #111111;
    pointer-events: none;
}

.list-group a.list-group-item.game-option:hover {
    background-color: #c2b980;
}

.list-group a.list-group-item.added {
    background-color: #a2965c;
}

/*LIST GROUP END*/


/* BINGO CARD START */

.bingo-card {
    background: #e6dda8;
    padding: 20px;
    display: grid;
    grid-gap: 4px;
    justify-content: center;
    max-height: 600px;

    text-transform: uppercase;
    aspect-ratio: 1;

}

.bingo-card__item {
    background: #f1ecd0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.35;
    user-select: none;
    border: none;
    word-wrap: break-word;
    white-space: normal;
    /* For Firefox: */
    text-overflow: ellipsis;
    overflow:hidden;
}

.bingo-card__item__error {
    background: #f1ecd0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.35;
    user-select: none;
    border: thick solid darkred;
    word-wrap: break-word;
    white-space: normal;
    /* For Firefox: */
    text-overflow: ellipsis;
    overflow:hidden;

}

.bingo-card__item:after {
  content: "✘";
  position: absolute;
  top: 20%;
  left: 5%;
  color: #fbda7d;
  width: 80%;
  opacity: 0;
  transition: 0.1s ease;
  height: 0;
  pointer-events: none;
  font: 130px/0.5 "Arial", cursive;
  text-align: center;
}
.bingo-card__item.is-done:after {
  height: 80%;
  opacity: 0.8;
}


.errors {
    color: darkred;
    font-size: larger;
}

.errorlist {
    color: darkred;
}

@media screen and (max-width: 600px) {
    .bingo-card__item { font-size: 11px }
    .bingo-card__item__error { font-size: 11px }
    .bingo-card__item.is-done:after {
        top: 25%;
        font: 80px/0.5 "Arial", cursive;
    }
}


/*.bingo-card__item {*/
/*  padding: 15px;*/
/*}*/

/*.bingo-card__item.active .bingo-card__checkbox:before {*/
/*  content: "✔";*/
/*  position: absolute;*/
/*  color: black;*/
/*  left: 0;*/
/*  top: -19px;*/
/*  color: #fdb90b;*/
/*  font: 30px "Caveat Brush", cursive;*/
/*}*/
/*.bingo-card__checkbox {*/
/*  display: none;*/
/*}*/


/*title used in bingo */
/*TODO: Title needs to updated*/
.title {
    background: #e6a8b1;
    color: #fff;
    padding: 30px 10px;
    grid-column: span 5;
    text-align: center;
    font: 72px/0.9 "Amatic SC", cursive;
    max-width: 600px;

}
.title span {
    display: none;
}
.title span:nth-child(1) {
    display: block;
}
@media screen and (max-width: 600px) {
    .title span:nth-child(1) {
        display: none;
    }
    .title span:nth-child(2) {
        display: block;
    }
}


/* BINGO CARD END */


/* BINGO GAME OPTIONS START*/

.scroll-box {
    height:550px;
    overflow-y: scroll;
    width: 100%;

}


.col-sm-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;

}

.col-sm-12 form {
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .col-sm-12 {
        display: block;
        padding: 3%;
    }
    .scroll-box {
        height:350px;
    }

}
/* BINGO GAME OPTIONS END */
