body {
    background: #A8D0E6;
}


.main{
    transition: margin-left .5s;
    margin-left: 200px;
    padding: 0px 10px;
}

.center {
    margin: 0 auto;
    width: 80%;
}

/* SIDEBAR START */

.sidebar {
    height:100%;
    width:200px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: hidden;
    padding-top:20px;
    transition: 0.5s;
}

.sidebar a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

.sidebar a:hover{
    color:#f1f1f1;
}

/* The button used to open the sidebar */
.open-button {
    font-size: 25px;
    cursor: pointer;
    background-color: #A8D0E6;
    color: black;
    padding: 10px 15px;
    border: none;
}

.open-button:hover {
    color: grey;
}

@media screen and (max-width: 600px) {
    /* Making the sidebar hidden by default for mobiles */
    .sidebar {padding-top: 15px;width: 0}
    .sidebar a {font-size: 18px;}
    .main {margin-left: 0}
}

/* SIDEBAR END */


/*LIST GROUP START*/

.list-group a {
    color: white;
    background-color: #374785;
}

.list-group a:hover {
    color: #818181;
    background-color: #24305E;
}


/*LIST GROUP END*/


/* BINGO CARD START */

.bingo-card {
    background: #e6dda8;
    padding: 20px;
    display: grid;
    grid-gap: 4px;
    justify-content: center;
    max-height: 600px;

    text-transform: uppercase;
    aspect-ratio: 1;

}

.bingo-card__item {
    background: #f1ecd0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.35;
    user-select: none;
    border: none;
}

.bingo-card__item__error {
    background: #f9f59e;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.35;
    user-select: none;
    border: thick solid darkred;
}

.errors {
    color: darkred;
}

/*.bingo-card__item:after {*/
/*  content: "-";*/
/*  position: absolute;*/
/*  top: -28%;*/
/*  left: -30%;*/
/*  color: #fbda7d;*/
/*  width: 100%;*/
/*  opacity: 0;*/
/*  transition: 0.1s ease;*/
/*  height: 0;*/
/*  pointer-events: none;*/
/*  font: 280px/0.5 "Caveat Brush", cursive;*/
/*  text-align: center;*/
/*  transform: rotate(-45deg);*/
/*}*/

/*.bingo-card__item.active:after {*/
/*  height: 100%;*/
/*  opacity: 0.7;*/
/*}*/

/*.bingo-card__item {*/
/*  padding: 15px;*/
/*}*/

/*.bingo-card__item.active .bingo-card__checkbox:before {*/
/*  content: "✔";*/
/*  position: absolute;*/
/*  color: black;*/
/*  left: 0;*/
/*  top: -19px;*/
/*  color: #fdb90b;*/
/*  font: 30px "Caveat Brush", cursive;*/
/*}*/
/*.bingo-card__checkbox {*/
/*  display: none;*/
/*}*/

.clear-button {
    margin: 2em 0 0;
    font: 700 16px "Nunito", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    border: 2px dotted;
    color: #fdb90b;
    padding: 8px 10px;
}
.clear-button:hover {
    color: #f2ae00;
}


/*title used in bingo */
/*TODO: Title needs to updated*/
.title {
    background: #e6a8b1;
    color: #fff;
    padding: 30px 10px;
    grid-column: span 5;
    text-align: center;
    font: 72px/0.9 "Amatic SC", cursive;
    max-width: 600px;

}
.title span {
    display: none;
}
.title span:nth-child(1) {
    display: block;
}
@media screen and (max-width: 600px) {
    .title span:nth-child(1) {
        display: none;
    }
    .title span:nth-child(2) {
        display: block;
    }
}


/* BINGO CARD END */

