{% extends "generic/base_generic.html" %}

{% load static %}

{% block content %}
    <h1> HOW TO PLAY ?</h1>
    <article>
        <h3>1. Select Any Active Games</h3>
        <img src="{% static 'images/how_to_play/home_page.jpg' %}" alt="Home Page">

    </article>
    <hr class="mb-0 mb-4">
    </br>

    <h3> 2. Select your options. </br> </h3>
    <h4> Either from dropdown in the card. </h4>
    </br>
    <img src="{% static 'images/how_to_play/bingo_card.jpg' %}" alt="Bingo Card">
    </br>

    <h4> Or select choices from "OPTIONS DETAILED" section in the right. </h4>
    <img src="{% static 'images/how_to_play/bingo_options.jpg' %}" alt="Bingo Options">
    </br>
    <h3>Save your selections.</h3>

    </article>
    <hr class="mb-0 mb-4">
    <article>
    </article>
    <hr class="mb-0 mb-4">

    <hr class="mb-0 mb-4">



    <h1> SCORING </h1>

    <h5>A Player need to have get 5 cards covered either Vertically, Horizontally, or Along the Main Diagonals to get a BINGO LINE</h5>

    </br>
    <h5>Each BINGO LINE will be of 10 points</h5>
    <h6>
        Sample 1:
        <img src="{% static 'images/how_to_play/scoring-10.jpg' %}" alt="Bingo ONE LINE">
    </h6>
    <h6>
        Sample 2:
        <img src="{% static 'images/how_to_play/scoring-60.jpg' %}" alt="Bingo SIX LINE">
    </h6>

    <hr class="mb-0 mb-4">
    </br>
    <h1>LET'S PLAY</h1>
    </br>
    <hr class="mb-0 mb-4">

{% endblock %}
