{% extends "generic/base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
  <h1>Let's Bingo !</h1>
    <p>Welcome to the <em>Bingo World</em> !</p>
    <h2>Active Games</h2>
    {% if active_games %}
        <ul>
            {% for game in active_games %}
                <li>
                    <a href="{{ game.user_game_url }}">{{ game.name }}</a> (Deadline: {{ game.end_time }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Active Games. </p>
    {% endif %}

    See <a href="{% url 'user-games' %}">Previous Games</a>

{% endblock %}
