{% extends "generic/base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
    <div class="col">
        <h1 class="mt-2">Let's Bingo !</h1>
        <p>Welcome to the <em>Bingo World</em> !</p>

        <hr class="mb-0 mb-4">
    </div>
    <h2>Active Games</h2>

    <div class="list-group">
        {% if active_games %}

            {% for game in active_games %}

                <a href="{{ game.user_game_url }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ game.name }}</h5>
                    </div>
                    <p class="mb-1">Deadline: {{ game.end_time }}</p>
                </a>

            {% endfor %}
        {% else %}
            <p>No Active Games.<br/></p>
            <a class="btn btn-primary" href="{% url 'user-games' %}" role="button">Previous Games</a>

        {% endif %}

    </div>
    <hr class="mb-0 mb-4">

    {#    BELOW TO SHOW PREVIOUS GAMES  #}
{% endblock %}
