{% extends "generic/base_generic.html" %}

{% block content %}
    {% if saved %}
        <p><b>Saved Successfully !!</b></p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="title">
            {#            TODO: Need to change title here#}
            <span>BINGOOOOO</span>
            <span>BINGO</span>
        </div>
        <div class="errors">
            {{ form.non_field_errors }}
        </div>
        <div class="bingo-card" style="grid-template-columns: repeat({{ game_size }}, minmax(0,150px)); grid-template-rows: repeat({{ game_size }}, minmax(0,150px))">
            {% for field in form %}
                {#                                {{ field.errors }}#}
                {#                                {{ field.label_tag }}#}
                {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}

        </div>
        <div style="padding: 10px">
            <input class="btn btn-primary  btn-lg" type="submit" value="Save">
        </div>

    </form>
{% endblock %}
