{% extends "generic/base_generic.html" %}

{% block colcontent %}
    <div class="col-sm-12">
        <form action="" method="post">
            {% if saved %}
                <p><b>Saved Successfully !!</b></p>
            {% endif %}

            {% csrf_token %}
            <div class="errors">
                {{ form.non_field_errors }}
            </div>
            <div class="add-on-buttons">
                <button type="button" class="btn btn-primary randomize-button" onclick="fillRandomOption();"> Fill Random</button>
                <button type="button" class="btn btn-primary clear-button" onclick="clearOptions();"> Clear</button>
            </div>

            <div class="title">
                {#            TODO: Need to change title here #}
                <span>{{ game_name }}</span>
                <span>{{ game_name }}</span>
            </div>
            <div class="bingo-card" style="grid-template-columns: repeat({{ game_size }}, minmax(0,20vw));
                    grid-template-rows: repeat({{ game_size }}, minmax(0,20vw)); grid-gap: {{ style_data.grid_gap }}">
                {% for field in form %}
                    {#                                {{ field.errors }}#}
                    {#                                {{ field.label_tag }}#}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                {% endfor %}

            </div>
            {% if is_active %}
                <div class="add-on-buttons">
                    <input class="btn btn-primary btn-lg form-save-button" type="submit" value="Save">
                </div>
            {% endif %}

        </form>
        {# SHOWING THE OPTIONS BELOW  #}

        <div class="scroll-box list-group">
            <h2> OPTIONS DETAILED <small><small>(Click to Select)</small></small></h2>
            {% for option in game_options %}
                <a id="opt_{{ option.id }}" href="javascript:void(0)" class="list-group-item list-group-item-action game-option" aria-current="true"  onclick="selectOption(this, {{ option.id }});">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ option.name }}</h5>
                    </div>
                    <p class="mb-1">{{ option.description }}</p>
                    <small>{{ option.condition }}</small>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        {# function to select an option on click from Detailed Option list #}
        function selectOption(option, opt_id) {
            {# Creating the ids for all positions #}
            let positions = [];
            for (let pos = 1; pos <= {{ game_size }}*{{ game_size }}; pos++) {
                positions.push(`id_pos${pos}`);
            }

            for (const pos of positions) {
                if (!document.getElementById(pos).value) {
                    document.getElementById(pos).value = opt_id
                    option.classList.add('added')
                    break;
                }
            }
        }
    </script>
    <script>
        $('select').on('change', function() {
            MarkSelections();
        });

        $(window).on('load', function() {
            MarkSelections();
        });

        function MarkSelections() {
            var list = new Array();

            $.each($('select'), function() { //loop all select
                if ($(this).val()) {
                    list.push('opt_'+$(this).val())}
            });

            $.each($('.list-group-item'), function() {
                if(jQuery.inArray($(this)[0].id, list) !== -1){
                    $(this).addClass('added')
                }
                else {
                    $(this).removeClass('added')
                }
            });
        }

    </script>
    <script>
        $('select').on('focus', function(event) {
            DisableOptions(event);
        });

        function DisableOptions(event) {
            const list = [];

            $.each($('select'), function() { //loop all select
                if ($(this).val()) {
                    list.push($(this).val())}
            });
            const current_element = event.target
            for (let i = 0; i < current_element.options.length; i++) {
                // If the option is already selected, marking it with a diff colour

                if ((current_element.options[i].value !== current_element.value) &&
                    jQuery.inArray(current_element.options[i].value, list) !== -1 )
                {
                    current_element.options[i].style.background = '#a2965c';
                }
                else {
                    current_element.options[i].style.background = '#e6dda8';
                }
            }
        }
    </script>
    <script>

        function fillRandomOption() {
            let game_options = {{ game_option_ids|safe }};

            // Iterate over each select field and select a random option
            $('select').each(function() {
                if ($(this).prop('options').length > 2) {
                    // selecting a random option
                    let index = Math.floor(Math.random() * game_options.length); // Generate a random index
                    let option = game_options[index]; // Select the option at the index
                    game_options.splice(index, 1); // Remove the option from the array

                    // assigning the value
                    $(this).val(option); // Set the value of the select field to the selected option
                }
                else {
                    // will be called for FREE SPACE
                    $(this).prop('selectedIndex', 1);
                }
            });

            // after random selections marking the selections again in the details list.
            MarkSelections();

        }

    </script>
    <script>
        function clearOptions() {
            // clearing options from the bingo card
            $('select').each(function () {
                $(this).prop('selectedIndex', 0);
            });

            // clearing selections from the options list
            $.each($('.list-group-item'), function () {
                $(this).removeClass('added')
            });
        }

    </script>
{% endblock %}
